# Ignore the repo itself.
.cfg/

# Contain history, passwords, other sensitive crap that shouldn't be
# tracked.

# various history files for shells and apps.
*history*
# less history    
.lesshst
# postgresql usernames & passwords 
.pgpass
# wget known hosts database
.wget-hsts
# Magic cookies.
.Xauthority

.bash_sessions/
.openvpn-connect.json

# Local repo contains bunch of jars. Maven config can contain
# passwords.
.m2/

# Contains credentials.
.aws/

# OpenSSL random seed.
.rnd

# SSH keys, private AND public.
.ssh/id_*

# .config/ contains lots of garbage, but also the occasional file that's
# useful to track.
.config/
!.config/fontconfig/fonts.conf
!.config/thefuck/settings.py

# Various cached or app-specific things that don't belong in vc.
.ansible/
.cache/
.cargo/
.docker/
.dropbox/
.gnupg/
.gnupg_pre_2.1/
.gradle/
.iterm2/
.iterm2_shell_integration.*
.keras/
.lpass/
.macports/
.matplotlib/
.npm/
.nvm/
.nylas/
.parallel/
# config file could be excluded.
.rustup/
# config file could be excluded.
.siege/
.swiftpm/
.terraform.d/
.tldr/
.vagrant.d/
.viminfo
.virtualenvs/
.vscode/

# yarn last update timestamp, apparently
.yarnrc

# Data from a python package.
nltk_data/

# Separate repo
.emacs.d/

# Things oracle likes to shit into $HOME.
.oracle_jre_usage/

Applications*/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Parallels/
Pictures/
Public/
.Trash/

src/
var/

# work
evhome/
