# Ignore the repo itself.
.cfg/

# Contain history, passwords, other sensitive crap that shouldn't be
# tracked.

# various history files for shells and apps.a
*history*
# less history    
.lesshst
# postgresql usernames & passwords 
.pgpass
# wget known hosts database
.wget-hsts


# Local repo contains bunch of jars. Maven config can contain
# passwords.
.m2

# Ignore pip log and cache, but track config.
.pip/*
!.pip/pip.conf

# OpenSSL random seed.
.rnd

# IDK lol
.config/configstore/

# Various cached things.
.ansible/
.cache/

.emacs.d/
.gnupg/
.gnupg_pre_2.1/
.iterm2/
.iterm2_shell_integration.*
.lpass/
.macports/
.npm/
.nvm/

# Things oracle likes to shit into $HOME.
.oracle_jre_usage/

Applications*/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
