# Ignore the repo itself.
.cfg/

# Contain history, passwords, other sensitive crap that shouldn't be
# tracked.

# various history files for shells and apps.
*history*
# less history    
.lesshst
# postgresql usernames & passwords 
.pgpass
# wget known hosts database
.wget-hsts
# Magic cookies.
.Xauthority
# Config file can contain auth token.
.ngrok2/
# Bash sessions include command history and such.
.bash_sessions/

# Local repo contains bunch of jars. Maven config can contain
# passwords.
.m2/

# Contains credentials.
.aws/

# OpenSSL random seed.
.rnd

# SSH keys, private AND public.
.ssh/id_*

# .config/ contains lots of garbage, but also the occasional file that's
# useful to track.
.config/
!.config/fontconfig/fonts.conf
!.config/thefuck/settings.py

# Various cached or app-specific things that don't belong in vc.
.ansible/
.cache/
.cargo/
# Printer settings.
.cups/
.docker/
.dropbox/
.gnupg/
.gnupg_pre_2.1/
.gradle/
.iterm2/
.iterm2_shell_integration.*
.macports/
.npm/
.nvm/
.parallel/
.parallels-desktop-vscode/
# config file could be excluded.
.rustup/
# config file could be excluded.
.siege/
.swiftpm/
.terraform.d/
.tldr/
.viminfo
.virtualenvs/
.vscode/

# yarn last update timestamp, apparently
.yarnrc

# Data from a python package.
nltk_data/

# Separate repo
.emacs.d/

# Things oracle likes to shit into $HOME.
.oracle_jre_usage/

Applications*/
Desktop/
Documents/
Downloads/
# Dropbox is a symlink.
Dropbox
Library/
Movies/
Music/
Parallels/
Pictures/
Public/
.Trash/

src/
var/
bin/
# Specifically include things from bin that we want.
!bin/gitprune

# IntelliJ and friends.

# New project directories (defaults).
IdeaProjects/
PycharmProjects/
WebstormProjects/
# Location for profile snapshots and such.
IdeaSnapshots/

# work
evhome/
